.outer-wrapper{
    position: relative;
    background-image: url("../assets/backgrounds/homebackground2.jpeg"), linear-gradient(#e74c3c, #3fc3ee);
    background-attachment: fixed;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 2s ease-out;

    height: 200vh;
}

.inner-wrapper{
    width: 100%;
    height: 100%;
}

.contents {
    position: relative;
    top: 175px;
    width: 100%;
    height: 85%;
}

.contents header{
    background: rgba(30%, 30%, 39%, 0.872);
    position: relative;
    text-align: center;
    top: 85px;
    left: 230px;
    width: 65%;
    height: 150px;
    color: white;
    border: solid 1px #9de0f6;
}

.loliindex {
    background: rgba(20%, 20%, 30%, 0.8);
    border: solid 1px white;
    position: absolute;
    width: 88%;
    height: auto;
    top: 500px;
    padding: 10px;
    left: 100px;
}

.lolipage{
    padding: 5px;
    background: rgba(93%,92%,100%,0.8);
}

.lolipage .articleImg {
    margin-right: 40px;
    margin-left: 5px;
    border: black 2px solid;
}

.loli-upload {
    position: absolute;
    top: 350px;
    left: 230px;
    height: auto;
    width: 920px;
    padding: 20px;
    background: rgba(20%, 20%, 30%, 0.6);
}

.loli-upload input{
    display: block;
    margin-bottom: 1px;
}

.loli-upload input[type=text], .loli-upload input[type=number]{
    padding: 6px;
}

.loli-upload input[type=submit]{
    background: none;
    border: 3px solid #4193a3;
    padding: 4px;
    font-size: medium;
    color: #4193a3;
    transition: all 0.33s;
}

.loli-upload input[type=submit]:hover{
    color: white;
    border-color: white;
}