.outer-wrapper{
    position: relative;
    background-image: url("../assets/backgrounds/homebackground2.jpeg"), linear-gradient(#e74c3c, #3fc3ee);
    background-attachment: fixed;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 2s ease-out;

    height: 200vh;
}

.inner-wrapper{
    width: 100%;
    height: 100%;
}

.contents {
    position: relative;
    top: 175px;
    width: 100%;
    height: 85%;
}

.contents header{
    background: rgba(30%, 30%, 39%, 0.872);
    position: relative;
    text-align: center;
    top: 85px;
    left: 230px;
    width: 65%;
    height: 150px;
    color: white;
    border: solid 1px #9de0f6;
}